@{
    ViewBag.Title = "Home Page";
}

<div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">

    <div class="figure-holder-wrapper">
        <div class="container">
            <div class="row justify-content-end">
                <div class="figure-holder">
                    <img class="figure-image img-fluid" src="~/Content/assets/images/imac.png" alt="image" />
                </div><!--//figure-holder-->
            </div><!--//row-->
        </div><!--//container-->
    </div><!--//figure-holder-wrapper-->
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
        <li data-slide-to="1" data-target="#hero-carousel"></li>
        <li data-slide-to="2" data-target="#hero-carousel"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="carousel-item item-1 active">
            <div class="item-content container">
                <div class="item-content-inner">

                    <h2 class="heading"> HIỆU QUẢ </h2>
                    <p class="intro"> Tối ưu được các chi phí </p>
                    <a class="btn btn-primary btn-cta" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/appkit-landing-free-bootstrap-theme-for-developers-and-startups/" target="_blank">Download Now</a>

                </div><!--//item-content-inner-->
            </div><!--//item-content-->
        </div><!--//item-->

        <div class="carousel-item item-2">
            <div class="item-content container">
                <div class="item-content-inner">

                    <h2 class="heading"> ĐƠN GIẢN</h2>
                    <p class="intro"> Phần mềm đơn giản, dễ sử dụng </p>
                    <a class="btn btn-primary btn-cta" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/appkit-landing-free-bootstrap-theme-for-developers-and-startups/" target="_blank">Find out more</a>

                </div><!--//item-content-inner-->
            </div>
        </div><!--//item-->

        <div class="carousel-item item-3">
            <div class="item-content container">
                <div class="item-content-inner">

                    <h2 class="heading"> CHÍNH XÁC </h2>
                    <p class="intro">Tính chính xác được các giá trị xuất kho, nhập kho, tồn kho </p>
                    <a class="btn btn-primary btn-cta" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/appkit-landing-free-bootstrap-theme-for-developers-and-startups/" target="_blank">Get Started</a>

                </div><!--//item-content-inner-->
            </div>
        </div><!--//item-->
    </div><!--//carousel-inner-->

</div><!--//carousel-->