
@{
    ViewBag.Title = "Index";
}

<h2> Quản lý kho thuốc </h2>

<div class="row">
    <div class="col-sm-4 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h2>Tổng tiền nhập <i class="glyphicon glyphicon-sort"></i></h2>

                <h3>@ViewBag.totalNhap</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h2>Tổng tiền xuất <i class="glyphicon glyphicon-sort"></i></h2>

                <h3>@ViewBag.totalXuat</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h2>Tổng tiền tồn <i class="glyphicon glyphicon-sort"></i></h2>
                
                <h3>@ViewBag.totalTon</h3>
            </div>
        </div>
    </div>
</div>
